{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Add Item</title>
</head>

<body>
    {% block title_block %}
    {% endblock %}

    {% block main_block %}
    <div class = "container"style="margin: 7%;   ">
        <h1 class="dark">Add Item</h1>
        <form method="POST" enctype="multipart/form-data" class="border p-3"> {% csrf_token %}
            {{ form.as_p }} 
            <button type="submit" class="btn btn-info">Save</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>

    {% endblock %}

</body>

</html>