{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Items</title>

</head>

<body>
    {% block title_block %}
  {% endblock %}

  {% block main_block %}
    <div style="margin: 5% auto; width: 80%; margin-bottom: 15%;">
        <div class="text-info col-md-5" style="padding-left: 13%;">
            <h2>Order Details</h2>
            <!-- <hr style="width: 5%; border-style: solid; font-weight: bold;"> -->
        </div>
        <div>
            <table class="table table-striped mx-auto table-dark table-hover w-75 justify-content-center">
                <thead>
                    <tr style="text-align: center">
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody style="text-align: center"></tbody>
                {% for item in items %}
                <tr style="text-align: center">
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>

                    <td><a class="btn btn-danger" href="{% url 'delete-item' item.id %}">Delete</a>
                    <a class="btn btn-danger" href="{% url 'edit-item' item.id %}">Edit</a></td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}

</body>

</html>